@model List<UserInfo>
@{
    ViewBag.Title = "Liste";
    Layout = "_Layout2";
}
<main class="text-center">
    <h1 class="h4">Toplantı Katılım Listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Ad</td>
                <td>Katılım</td>
                <td>Detay</td>
            </tr>
        </thead>
        <tbody>
            @{int i=0;}
            @foreach(var user in Model){
                var durum = user.WillAttend == true ? "Evet":"Hayır";
                var className = user.WillAttend == true ? "table-success":"table-danger";
                if(user.WillAttend == true){
                    i++;
                }
            <tr class="@className">
                <td>@user.Name</td>
                
                <td>@user.WillAttend</td>
                
                <td><a asp-controller="Meeting" asp-action="Details" asp-route-id="@user.id" class="btn btn-sm btn-primary">detay</a></td>
            </tr>
        }
        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <span>Katılımcı Sayısı : @i</span>
        </div>
    </div>
</main>